@{
    ViewBag.Title = "Project Documentation";
}
<div class="container">
    <hgroup>
        <h2>@ViewBag.Title</h2>
    </hgroup>
    <div class="row-fluid">
        <div class="span12">
            <object data="~/RyanPalmerDocumentation.pdf" type="application/pdf" width="100%" height="1000">
                alt : <a href="~/RyanPalmerDocumentation.pdf">Project Documentation</a>
            </object>
        </div>
    </div>
</div>