<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="~/backgroundVideo111.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>Vanguard Academy</h6>
            <h2><em>Field</em> Manual</h2>
            <div class="main-button">
                <div class="scroll-to-section"><a href="@Url.Action("Index","Courses")">Get Started</a></div>
            </div>
        </div>
    </div>
</section>